<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
</head>
<body>
    <div id="box">
        <div class="form-group">
            <input type="text" class="form-control" v-model="msg"/>
        </div>
        <ul class="list-unstyled">
            <li v-for="(value,key) in arr">
                {{value}}||{{key}}
            </li>
        </ul>
        <ul>
            <li v-for="(value,key,index) in my">
                {{key}}: {{value}}:{{index}}
            </li>
        </ul>
    </div>
    <script src="js/vue.js"></script>
    <script>
        var vm = new Vue({
            el:"#box",
            data:{
                msg:'hello word',
                arr:[1,2,3,4,5],
                my:{
                    name:'jian',
                    age:'21',
                    address:'here'
                }
            }
        })
    </script>
</body>
</html>